*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;

*/
html{
    font-size: 62.5%;
    scroll-behavior: smooth; /*permite que o content passe por trás do menu*/
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    background-color: var(--white-color);
    line-height: 1.5;
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    
    font-size: 8rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
h3{
    font-size: 5rem;
    text-transform: uppercase;
}
p{
    margin-bottom: 3rem;
}
.responsive-table{
    overflow: hidden;
    overflow-x: auto;
}
table{
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}
table caption{
    font-style: italic;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    text-align: left;
}
table th, table td{
    border: 0.2rem solid lightblue;
    padding: 1rem;
    text-align: left;
}
table thead {
    background: lightgray;
}
table tfoot {
    background: lightgray;
}